body{
	margin: 0;
	padding: 0;
	background: #E3DBEA url(./img/background_1.jpg) no-repeat 30% 75%;
	box-sizing: border-box;
	font-family: 'Comic Sans', Arial, Helvetica, sans-serif;
}
.wrapper{
	width: 800px;
	margin: 0 auto;
	min-height: calc(100vh - 110px);
}
.header__main{
	position: relative;
}
.header__main__logo{
	position: absolute;
	left: 0px;
	top: -25px;
}
.header__main__logo a img{
	height: 100px;
}
.header__main__title{
	text-align: center;
	font-weight: 600;
	font-size: 1.3em;

}
.clearfix{
	clear:both;
}
.header__menu{
	margin-top: 45px;
	text-align: center;
}
.header__menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.header__menu ul li{
	display: inline-block;
}
.header__menu ul li a{
	text-decoration: none;
	color: #000;
	padding:5px 10px;
	margin: 0px;
	background-color: orange;/*rgba(92, 108, 108, 0.7);*/
	font-weight: 400;
	font-size: 1.2em;
}
.header__menu ul li a:hover{
	color: orange;
	background-color: #000;
}
.header__search{
	float: right;
	margin-top: 10px;
}
.content{
	margin-top: 5px;
}
.footer{
	background: #4B5A61;
	opacity: 0.7;
	height: 60px;
	text-align: center;
	padding: 10px 0px;
}
.main-goods, .main-goods-catalog{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.main-goods__item{
	border: 3px solid #fff;
	border-radius: 5px;
	margin-bottom: 5px;
}
.main-goods__item a{
	text-decoration: none;
	color: #000;
	text-align: center;
}
.main-goods__item a:hover{
	color: #ff7800;
}
.main-goods .main-goods__item a img{
	width: 250px;
	padding: 0 3px;
}
.main-goods-catalog .main-goods__item a img{
	width: 230px;
	padding: 0 3px;
	float: left;
}
.price::after{
	content: ' руб.';
}
.main-goods__item__details{
	border: 3px solid gray;
	float: right;
	width: 165px;
}
.status{
	background-color: green;
	text-align: center;
}
.price{
	color: red;
	font-weight: 600;
	text-align: center;
}
.basket form{
	text-align: center;
}